# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\JAVA\ImageHoster Project\ImageHoster_Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
